.main-container{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main-container > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
}

.main-container > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main-container > div > div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 0.5px solid black; /* 밑줄 추가 */
    margin-left: 1vw;
    margin-right: 1vw;
}

.main-container-box {
    margin: 20px;
}
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }
